<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Patient List </title>
</head>
<body>

    <div>

        <h1> Patient Table </h1>

            <table>
                <tr>  
                    <!-- so this part with the TH tags, deals with setting the table names -->
                    <th> Medical Record Number (MRN) </th>
                    <th> First Name (FN) </th>
                    <th> Last Name (LN) </th>
                    <th> Date of Birth (DOB) </th>
                </tr>
           
                {% for patient in listPatients %}
                    <tr>
                        <td> {{ patient.mrn }} </td>
                        <td> {{ patient.firstName }} </td>
                        <td> {{ patient.lastName }} </td>
                        <td> {{ patient.dob }} </td>
                    </tr>
                {% endfor %}
            </table>


    </div>


</body>
</html>